body {
    font-family: system-ui, sans-serif;
    margin: 0;
    background-color: #F3F4F6;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

a {
    color: #112A6B;
    text-decoration: none;
}

.header-menu {
    background: #112A6B;
    display: flex;
    height: 64px;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.header-logo {
    height: 48px; /* Increase the size of the logo for better visibility */
}

.header-title {
    color: #ffffff;
    font-size: 32px;
    line-height: 56px;
    padding-left: 16px;
}

.header-icon {
    cursor: pointer;
    line-height: 72px;
}

.header-icon > img {
    margin-right: 16px;
}

.header-name {
    color: #ffffff;
    font-size: 12px;
    height: 16px;
    line-height: 72px;
    text-align: right;
    top: 12px;
}

.login {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 320px;
    width: 100%;
    margin-top: 100px; /* Adjusted for space under the header */
}

.textfield {
    position: relative;
    margin: 45px 0;
}

input {
    background: none;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #777;
    color: #333333;
}

input:focus {
    outline: none;
}

input:focus ~ label, input:valid ~ label {
    top: -14px;
    font-size: 12px;
    color: #112A6B;
}

label {
    color: #777;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;
}

.login-button {
    align-items: center;
    background-color: #112A6B;
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    height: 40px;
    justify-content: center;
    margin-top: 4px;
    outline: none;
    overflow: hidden;
    padding: 0 24px;
    position: relative;
    user-select: none;
    white-space: nowrap;
    width: 100%;
    vertical-align: middle;
}

.login-button:hover {
    opacity: 0.9;
}

.page {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    padding: 20px;
    display: none; /* Hide by default */
}
